---
import CardBook from "./CardBook.astro";
import GridBooks from "./GridBooks.astro";
import Link from "./Link.astro";
import Title from "./Title.astro";

const allBooks = await Astro.glob("../pages/books/*.md");
const { all } = Astro.props;
---

<section class="mb-16 pb-4">
  <Title title="All Books" type="h2" />
  <GridBooks>
    {
      all
        ? allBooks.map((book) => (
            <CardBook
              title={book.frontmatter.title}
              path={book.frontmatter.path}
              authors={book.frontmatter.authors}
              cover={book.frontmatter.cover}
              url={book.url}
              free={book.frontmatter.free}
            />
          ))
        : allBooks
            .splice(0, 12)
            .map((book) => (
              <CardBook
                title={book.frontmatter.title}
                path={book.frontmatter.path}
                authors={book.frontmatter.authors}
                cover={book.frontmatter.cover}
                url={book.url}
                free={book.frontmatter.free}
              />
            ))
    }
  </GridBooks>

  {!all && <Link title="explore all books" link="/books/all" />}
</section>
