---
import CardBook from "./CardBook.astro";
import GridBooks from "./GridBooks.astro";
import Title from "./Title.astro";
import Link from "./Link.astro";

const { topic, all = false, title, link } = Astro.props;

const allData = await Astro.glob("../pages/books/*.md");
const FilteredBooks = allData.filter((post) =>
  post.frontmatter.topics.includes(topic)
);
---

<section class="mb-16 pb-4">
  <Title title={title} type="h2" />

  <GridBooks>
    {
      all
        ? FilteredBooks.map((book) => (
            <CardBook
              title={book.frontmatter.title}
              path={book.frontmatter.path}
              authors={book.frontmatter.authors}
              cover={book.frontmatter.cover}
              url={book.url}
              free={book.frontmatter.free}
            />
          ))
        : FilteredBooks.splice(0, 6).map((book) => (
            <CardBook
              title={book.frontmatter.title}
              path={book.frontmatter.path}
              authors={book.frontmatter.authors}
              cover={book.frontmatter.cover}
              url={book.url}
              free={book.frontmatter.free}
            />
          ))
    }
  </GridBooks>

  {link && <Link title="Explore all books" link={link} />}
</section>
