---
import CardBook from "./CardBook.astro";
import GridBooks from "./GridBooks.astro";
import Link from "./Link.astro";
import Title from "./Title.astro";

const allData = await Astro.glob("../pages/books/*.md");
const AllBooks = allData.filter((post) => post.frontmatter.free);

const { all = false } = Astro.props;
---

<section class="mb-16 pb-4">
  <Title title="Free Books For Learning Ruby & Rails" type="h2" />

  <GridBooks>
    {
      all
        ? AllBooks.map((book) => (
            <CardBook
              title={book.frontmatter.title}
              path={book.frontmatter.path}
              authors={book.frontmatter.authors}
              cover={book.frontmatter.cover}
              url={book.url}
              free={book.frontmatter.free}
            />
          ))
        : AllBooks.slice(0, 6).map((book) => (
            <CardBook
              title={book.frontmatter.title}
              path={book.frontmatter.path}
              authors={book.frontmatter.authors}
              cover={book.frontmatter.cover}
              url={book.url}
              free={book.frontmatter.free}
            />
          ))
    }
  </GridBooks>

  {!all && <Link link="/books/free" title="Explore all free books" />}
</section>
